[Desktop Entry]
Comment[en_US]=
Comment=
Exec=waybar && plasma-apply-wallpaperimage /usr/share/backgrounds/velocity/default-wallpaper.jpg
GenericName[en_US]=
GenericName=
Icon=
MimeType=
Name[en_US]=waybar
Name=waybar
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
